@font-face {
	font-family: lovecraft-cursive-hplhs;
	src: url("lovecraft-cursive-hplhs-1361506076.ttf");
}

body {
	background: url("pictures/cthulu_background.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
	height: 108vh;
}

.container {
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	font-family: 'Bree Serif', serif;
	/*border: 1px solid black;*/
}

.main {
	width: 60%;
	height: 75%;
	margin: 6% auto;
	background-color: rgba(0, 0, 0, 0.8);
	background-image: url("pictures/hp.png");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: 70%;
	/*border: 1px solid red;*/
}

header {
	/*border: 1px solid yellow;*/
	height: 10%;
	width: 80%;
	margin: 0 auto;
	/*background: url(pictures/header_background.jpg);*/
}

ul {
	list-style: none;
	font-family: lovecraft-cursive-hplhs, sans-serif;
	margin-top: 0px;
	padding: 0;
	justify-content: space-around;
	/*border: 1px solid black;*/
}

h1 {
	height: 65%;
	font-family: "Eccentric Std", sans-serif;
	font-size: 62px;
	color: white;
	/*border: 1px solid black;*/
	margin-top: 0px;
}

li {
	box-sizing: border-box;
	display: inline-block;
	/*padding: 20px;*/
	color: white;
	margin-right: 30px;
	font-size: 24px;
	background-color: darkslateblue;
	height: 30px;
	/*border: 1px solid black;*/
}

a {
	color: #FFC16E;
}

.playeraOneIcon {
	float: left;
	width: 15%;
	margin-left: -120px;

}

.playerTwoIcon {
	float: right;
	width: 15%;
	margin-right: -90px;
}

.row {
	width: 100%;
	height: 12.5%;
	margin: auto;
	box-sizing: border-box;
	/*border: 1px solid red;*/
}

.square {
	box-sizing: border-box;
	width: 12.5%;
	height: 100%;
	/*background-color: rgba(0, 0, 0, 0.8);*/
	border: 1px solid  #FFC16E;
	display: inline-block;
}

.blackPiece {
	background: url("pictures/black_360.png") no-repeat center;
}

.whitePiece {
	background: url("pictures/white_360.png") no-repeat center;
}

.validMoves {
	background-color: red;
	opacity: 0.5;
}
